<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - E-Commerce</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/30459940a1.js" crossorigin="anonymous"></script>
    
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-image: url('../../uploads/rado...webp');
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-container {
            display: flex;
            max-width: 800px;
            width: 100%;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .image-container {
            flex: 1;
            background-image: url('../../uploads/Silver_W_carousel1000X1000.jpg');
            background-size: cover;
            background-position: center;
        }

        .form-container {
            flex: 1;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .form-container h2 {
            text-align: center;
            margin-bottom: 20px;
            font-weight: 500;
            color: #333;
        }

        .login-form {
            display: flex;
            flex-direction: column;
        }

        .login-form label {
            margin-bottom: 5px;
            font-weight: 500;
            color: #555;
        }

        .login-form input[type="text"],
        .login-form input[type="password"] {
            padding: 15px;
            margin-bottom: 5px;
            border: 1px solid #ddd;
            border-radius: 10px;
            font-size: 16px;
            color: #333;
            transition: border-color 0.3s ease;
            width: calc(100% - 40px);
        }

        .login-form input[type="text"]:focus,
        .login-form input[type="password"]:focus {
            border-color: #74ABE2;
        }

        .error-message {
            color: red;
            font-size: 14px;
            margin-bottom: 15px;
        }

        .login-form button {
            padding: 15px;
            background-color: blue;
            border: none;
            border-radius: 10px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .login-form button:hover {
            background-color: skyblue;
        }

        .forgot-password-link,
        .register-link {
            display: block;
            text-align: center;
            margin-top: 10px;
            color: #007bff;
            text-decoration: none;
            font-size: 14px;
        }

        .forgot-password-link:hover,
        .register-link:hover {
            text-decoration: underline;
        }

        .input-wrapper {
            position: relative;
        }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .custom-google-btn {
            margin-top: 20px;
            padding: 10px;
            background-color: #db4437;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;
            text-align: center;
        }

        .custom-google-btn:hover {
            background-color: #c33d2e;
        }

        .custom-google-btn i {
            margin-right: 10px;
        }

        .btn-primary {
            display: block;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <div class="image-container"></div>
        <div class="form-container">
            <h2>Login to Your Account</h2>
            <form class="login-form" id="loginForm" action="/login" method="post" onsubmit="return validateForm()">
                <div>
                    <label for="username">Email</label>
                    <input type="text" id="username" name="email">
                    <div id="emailError" class="error-message"></div>
                    <% if (locals.message) { %>
                        <span class="error-message"><%= message %></span>
                    <% } %>
                </div>
                <div class="input-wrapper">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                    <i class="toggle-password" onclick="togglePassword()">👁️</i>
                    <div id="passwordError" class="error-message"></div>
                </div>
                <button type="submit">Login</button>
            </form>
            <a href="/forgotPassword" class="forgot-password-link">Forgot Password?</a>
            <a href="/register" class="register-link">Don't have an account? Register here</a>
            <a href="/auth/google" class="btn-primary">
                <button id="googleSignInBtn" class="custom-google-btn">
                    <i class="fab fa-google"></i> Sign in with Google
                </button>
            </a>
        </div>
    </div>

    <script>
        function validateForm() {
            let isValid = true;

            // Clear previous error messages
            document.getElementById('emailError').textContent = '';
            document.getElementById('passwordError').textContent = '';

            // Validate email format
            const email = document.getElementById('username').value.trim();
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test(email)) {
                document.getElementById('emailError').textContent = 'Please enter a valid email address.';
                isValid = false;
            }

            // Validate password
            const password = document.getElementById('password').value.trim();
            if (password.length < 8) {
                document.getElementById('passwordError').textContent = 'Password should be at least 8 characters long.';
                isValid = false;
            } else if (password.includes(' ')) {
                document.getElementById('passwordError').textContent = 'Password should not contain spaces.';
                isValid = false;
            }

            return isValid;
        }

        function togglePassword() {
            const passwordField = document.getElementById('password');
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if (locals.successMsg) { %>
        <script>
            Swal.fire({
                icon: 'success',
                title: '<%= successMsg %>',
                text: 'You have successfully verified your OTP!'
            });
        </script>
    <% } %>
    <% if (locals.message1) { %>
        <script>
            Swal.fire({
                icon: 'error',
                title: '<%= message1 %>',
            });
        </script>
    <% } %>
</body>

</html>
